{% extends "proj/projbase.html.twig" %}

{% block title %}Poker Squares 2000{% endblock %}

{% block body %} 
<h1>Nu spelar vi!!!</h1>
<form method="POST" action="{{ path('projPlay') }}">
    <input type="text" name="name" id="name">
    <input type="submit">
</form> 
{% endblock %}
