{% extends "proj/projbase.html.twig" %}

{% block title %}Poker Squares 2000{% endblock %}

{% block article %}
<article class="name-input"> 
<div class="start">
{{dump(app.session)}}
<h2>Start new game?</h2>
    <form method="POST" action="{{ path('setNameBet') }}">
        <input type="text" name="name" id="name" placeholder="{{name}}" required>
        <input type="number" name="bet" id="bet" placeholder="{{latestBet}}" required min="0">
        <input class="button" type="submit" value="Start">
    </form>
</div>
</article>
{% endblock %}