/** game.css */
.poker {
    display: grid;
    aspect-ratio: 3/4;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(6, 3fr);
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    max-height: 100%;
    width: 100%;
    gap: 2px;
    img {
        display: block;
        max-width: 100%;
        max-height: auto;
    }
    input {
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100%;
    }
    form {
        max-width: 100%;
        max-height: 100%;
    }
}

.poker > * {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.game {
    display: flex;
    max-width: unset;
}

.aside {
    display: flex;
    gap: 20px;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.next {
    height: auto;
    width: 50%;
}

.next-div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.empty {
    opacity: 0;
}

.empty:hover {
    opacity: 0.5;
}

.score-text {
    text-align: center;
}

.total { 
    margin-top: 0;
}
