/* Ska se ut som ett äkta spelbord. Mycket speligt med animationer. */
body {

}

.poker {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(6, 3fr);
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 15px;
    padding: 10px;
    max-height: 100%;
    input, img {
        object-fit: contain;
        max-width: 80%;
    }
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    border: #4E263C solid 10px;
    background-color: #4E263C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c9c9c9;
}

html {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4E263C;
    height: 10%;
    h1 {
        margin-bottom: 0;
    }
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #008000;
}

footer {
    background-color: #4E263C;
}

footer a, footer p {
    max-height: 10%;
    font-family: "Fredericka the Great";
    text-decoration: none;
}

.musicplayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 15px;
    padding-bottom: 30px;
}

.empty {
    opacity: 0;
}

.empty:hover {
    opacity: 0.5;
}

.score-text {
    text-align: center;
}

body::after {
    background: url('../../img/noise.jpg');
    content: "";
    height: 100%;
    left: 0;
    opacity: .05;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 201;
}

.total { 
    margin-top: 0;
}
