/** responsive.css */
@media screen and (max-width: 640px) {
    header
    {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-bottom: 40px;
        h1 {
            margin: 0;
        }
    }

    .aside {
        width: 100%;
        margin-left: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: unset;
    }

    .next-div {
        align-items: center;
        order: 1;
    }

    .buttons {
        order: 2;
    }

    .name {
        order: 3;
    }

    input[type='submit'] {
        font-size: 20px
    }

    .score-text {
        font-size: 16px;
    }

    .total {
        font-size: 16px;
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    main {
        height: 70%;
    }

    body article {
        aspect-ratio: unset;
    }

    html {
        font-size: 14px;
    }

    ::-webkit-scrollbar {
        scrollbar-width: 0px;
    }
    
    ::-webkit-scrollbar-track {
        background: unset; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: unset;
        border-radius: unset;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: unset; 
    }

    .name-input {
        min-width: unset;
    }

    .hideable {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;    
    }

    #smallscore {
        display: inline-flex;
        width: unset;
        height: unset;
        opacity: unset;
        visibility: unset;
        hyphens: none;
    }

    .games {
        input {
            font-size: 14px;
        }
    }

}
