@import url('https://fonts.googleapis.com/css2?family=Forum&family=Julius+Sans+One&family=Varela+Round&display=swap');

html, .root {
    font-size: 16px;
    line-height: 24px;
}

body article {
    font-family: "Forum";
    font-size: 1em;
    line-height: 1.5em;
    max-width: 560px;
}

h1, .h1 {
    font-family: "Julius Sans One";
    font-size: 2.8125em;
    line-height: 1.06666667em;
    margin-top: 0.53333333em;
    margin-bottom: 1.06666666em;
}

h2, .h2 {
    font-family: "Varela round";
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h3, .h3 {
    font-family: "Varela round";
    font-size: 1.4375em;
    line-height: 1.04347826em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
}

h4, .h4 {
    font-family: "Varela round";
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h5, .h5 {
    font-family: "Varela round";
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 1.5em;
}
  
/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
