table {
    img {
        width: 100px;
    }
    td {
        padding: 10px;
    }
}

.cover {
    max-width: 100%;
    width: unset;
}

.image-div {
    display: flex;
    justify-content: center;
}

.book-form {
    display: grid;
    gap: 10px;
    input {
        color: #000;
        height: 2rem;
        padding: 0.5rem;
        color: #000;
        border-radius: 10px;
    }
}

.book-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-self: end;

    form {
        display: grid;
    }
}

.library {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-button {
    grid-column: 1/4;
}

.book {
    display: grid;
}
