{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
<h1>Den här sidan har de här APIerna:</h1>
<div class="game-buttons">
    <a class="button" href="{{ path('animal_api') }}">api/lucky/animal</a>
    <a class="button" href="{{ path('quote') }}">api/quote</a>
</div>
{% endblock %}