{% extends "base.html.twig" %}

{% block title %}Spela 21{% endblock %}

{% block article %} 
<article class="game">
<h1>Spela 21!</h1>
{% include "flash.html.twig" %}
{% if hands != null %}
<div class="game-mat">
    {% if hands|length == 1 %}
    <h2>Bankens hand</h2>
    <div class="hand">        
        <img class="card" src="{{ asset('/img/cards/backs/blue.svg') }}">
    </div>
    {% endif %}
    {% for player, hand in hands %}
    <div>
        <h2>{% if player == "player" %} Din hand {% else %} Bankens hand {% endif %}</h2>
        <p>Värde: {{ hand['score'] }}</p>
    </div>
    <div class="hand">
                {% for card in hand['hand'].getHand() %}
                    <img class="card" src="{{ asset(card.getImagePath()) }}">
                {% endfor %}
    </div>
    {% endfor %}
    
</div>
{% endif %}
<form action="{{ path('gamePlay')}}" method="POST">
    {% if (state != "Player wins" and state != "Bank wins") %}
    {% if (state == "draw" or state == "first")  %}
    <button class='button' type="submit" name="state" value="draw">Dra ett kort</button>
    <button class='button' type="submit" name="state" value="hold">Stanna</button>
    {% endif %}

    {% if (state == "bank" or state == 'hold')  %}
    <button class='button' type="submit" name="state" value="bank">Nästa</button>
    {% endif %}
    {% endif %}

    <button class='button' type="submit" name="state" value="first">Börja om</button>
</form>
</div>
</article>
{% endblock %}
