{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Vilhelm Malmberg Eskilsson</h1>
    <p>Det här är jag! På dagen: bibliotekarie. På kvällarna: webbutvecklare.</p>
    <p>Förutom böcker och kodning springer jag en hel del.</p>
    <p>Jag går under "Challe_P" på discord. Är det något du undrar så bara hojta!</p>
    <a href="{{ asset('img/me.jpg') }}">
        <img src="{{ asset('img/me.jpg') }}" alt="Bild på mig, Vilhelm Malmberg Eskilsson">
    </a>
{% endblock %}