{% extends "base.html.twig" %}

{% block title %}Deck print{% endblock %}

{% block article %}
<article class="game">
<h1>Här är din blandade kortlek!</h1>
<div class="deck">
{% if deck != null %}
{% for card in deck %} 
    <img class="card" src="{{ asset(card.getImagePath()) }}">
{% endfor %}
{% endif %}
</div>
</article>
{% endblock %}