{% extends "base.html.twig" %}

{% block title %}Skapa bok{% endblock %}

{% block body %}
<h1>Fyll i formuläret:</h1>
<form action="{{ path('book_create')}}" method="POST">
    <label for="isbn">ISBN</label>
    <input type="number" required placeholder="9789174610239" id="isbn" name="isbn">
    <label for="title">Titel</label>
    <input type="text" required placeholder="De små hästarna i Tarquinia" id="title" name="title">
    <label for="firstname">Författarens förnamn</label>
    <input type="text" placeholder="Marguerite" id="firstname" name="firstname">
    <label for="surname">Författarens efternamn</label>
    <input type="text" placeholder="Duras" id="surname" name="surname">
    <label for="image">Bildlänk</label>
    <input type="text" placeholder="{{ asset(9789174610239) }}" id="image" name="image">
    <button class="button" type="submit">Skapa bok</button>
    
</form>
{% endblock %}
